@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.board {
    width: 90%;
    max-width: 500px;

    border-collapse: separate !important;
}
.cell {
    width: auto;
    position: relative;
    border: 1px solid #0f0f0f;
    margin: 2px;
    border-radius: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.content {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell:after {
    content: "";
    display: block;
    margin-top: 100%;
}

.cell:hover {
    animation: bounce 1s ease infinite;
    cursor: pointer;
    opacity: 0.8;
}
.cell:active {
    transform: translateY(3px);
}

.win {
    background-color: red;
}

@keyframes bounce {
    10% {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(0%);
    }
    0% {
        transform: translateY(0%);
    }
    65% {
        transform: translateY(-15%);
    }
    90% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-7%);
    }
    97% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes narrow {
    70% {
        transform: scaleX(110%);
    }
    80% {
        transform: scaleX(105%);
    }
    90% {
        transform: scaleX(100%);
    }
    95% {
        transform: scaleX(95%);
    }
    97% {
        transform: scaleX(90%);
    }
    99% {
        transform: scaleX(95%);
    }
    100% {
        transform: scaleX(100%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(72deg);
    }
    40% {
        transform: rotate(144deg);
    }
    60% {
        transform: rotate(216deg);
    }
    80% {
        transform: rotate(288deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
